.hero{
    background-image: url("../../assets/restaurant.png");
    background-position: 0 -50px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
}

.main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1rem;
    padding: 5px 20px;
}
.main_nav a {
    font-weight: bold;
    font-size: 23px;
    color:  #622b02;
}
.main_nav a .icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    width: 27px;
    margin-right: 10px;
    margin-bottom: -5px;

}


.main_nav_item {
    text-decoration: none;
    margin-right: 0.5rem;
}

.features {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 100px;
    margin-left: 70px;

}
.feature-item {
    flex: 1 1;
    padding: 2.5rem;
}
.feature-item img {
    width: 100px;
    border: 10px solid #622b02;
    border-radius: 50%;
    padding: 1rem;

}
.feature-item-title {
    color: #b07e49;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.feature-item p {
    color:#eea121;
}


