.header-content{
    display: flex;
    justify-content: center;
}
.header-content-title h1 {
    color: #457f93;
    font-family: cursive;
    font-size: 43px;

}
.header-content-title p {
    color: #c4d1d5;
    font-family: cursive;
    margin-top: -30px;

}
 .content-energies{
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-gap: 20px;
     margin-top: 35px;
 }
.content-energies ul {
    list-style: none;
}
.content-energies li{
    background-color: #ebeeef;
    padding: 10px;
    border-radius: 15px;


    width: 200px;
}
.content-energies li:hover {
    transform: scale(1.2);
}
.content-energies a {
    text-decoration: none;
    font-size: 20px;
    color: #457f93;
    margin-right: 20px;

 /*   background-color: #61dafb;*/
}

