.products{
     display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    grid-row: 0;
    margin: -3rem 0;
    padding: 55px;
}
.products ul {
    list-style: none;
    display: block;
    width: 230px;
    height: 187px;
    background-color: #b77810;
    border-radius: 15px;
    overflow: hidden;
    padding: 6px 6px;
    margin: 12px 14px;
    box-shadow: 0.02em 0.02em 1em #a02b15;
}
.products-item {
    color:#bfdbe2;
    font-weight: bold;
    font-size: 20px;
    line-height: 37px;

}
.products ul li img{
    transition: transform .2s;
    height: 150px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    overflow: hidden;

}
.products ul li  img:hover{
    transform: scale(1.5);
}
/*.btn{
    width: 150px;
    background: linear-gradient(to bottom, lightgray, 0.1%, transparent,lightgray);
    color: #2c2b2bde;
    border-radius: 20px;
}*/
.products-content-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

