/*.page {
    display: grid;
    width: 100%;
    height: 200px;
    grid-template: [header-left] "head head" 150px [header-right]
                 [main-left]   "nav  main"  900px [main-right]
                 [footer-left] "nav  foot" 20px [footer-right]
                 / 0px 1fr;

}*/
/*section {
    margin: 12rem;
}*/
.account-page {
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: 40px;
    margin-top: 0;
    color: #457f93;
    content: '';
    position: absolute;
    z-index: -2;
    right: 50%;
    top: 0;
    width: 100%;
    max-width: 100rem;
    height: 155px;
    background: #f1f2f5 url("../../assets/headerProfil.png") left top;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.account-page-title h1 {
    font-weight: bold;
    font-family: cursive;
    color: #4c8397;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 24px;
}


.user-container {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.user-info {
    width: 100%;
    max-width: 50rem;
    margin: auto;
    line-height: 1.1875rem;
    font-weight: 300;
    display: block;
    position: absolute;
    top: 179px;

}

.edit-account {
    margin: 0 0 3.25rem;
    padding: 1.8125rem 0.75rem 2.125rem;
    background-color: #f5f6f8;
    border: 0.625rem solid transparent;
    border-radius: 0.3125rem;
    /*border: 0.8125rem solid transparent;*/
    box-shadow: 0.1875rem 0.1875rem 1.875rem 0.0625rem rgb(38 38 62 / 10%);
    border-image: url("../../assets/bordure.png") 13 round;

}

.form-item-email {
    max-width: 75rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 0.9375rem;
    padding: 0;

}

.user-info label {
    font-size: 15px;
    line-height: 1.25rem;
    padding-left: 0;
    text-transform: uppercase;
    align-self: center;
    text-align: right;
    font-family: cursive;
    padding-right: 0.9375rem;
    font-weight: bold;
    color: #4c8397;

}

.user-info input {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    width: 25rem;

}

.form-item-pass {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 0.9375rem;
}

.form-item-pass1 {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 0.9375rem;
}

div .form-item-pass-strength {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
    margin: 0 0 1.0625rem;
    margin-left: 33.333%;


}

.form-item-pass-strength-text {
    float: right;
    font-weight: bold;
}

.form-item-pass-strength-title {
    display: inline;
    color: #4c8397;
    font-family: cursive;
    font-weight: bold;
    font-size: 17px;
}

.form-item-pass-strength {

    width: 17em;
    float: right;
    margin-top: 1.4em;

}

.password-indicator {
    background-color: #C4C4C4;
    height: 0.17em;
    width: 100%;


}

.password-indicator div {
    height: 100%;
    width: 0%;
    background-color: #47C965;

}

.form-item-pass-confirm {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 0.9375rem;
}

.editt-submit {
    background: #e2e2f1;
    box-shadow: inset 0 0 0 -0.125rem #2e2e30;
    color: #4c8397;
    padding: 0.75rem 0.375rem;
    margin: 0 240px;
    border-radius: 0.1875rem;
    font-family: cursive;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    border: none;
    transition: box-shadow .4s cubic-bezier(.25, .46, .45, .94);
    cursor: pointer;
}

.editt-submit:hover {
    background-image: linear-gradient(90deg, #7389b5 0%, #4c8397 49%, #e2e2f1 80%, #546589 100%);
    animation: slidebg 5s linear infinite;
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}
