.carousel {
    z-index: 10;
    width: 100%;
    height: 400px;
    background-color: #b77810;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;

}

.carousel_next,
.carousel_prev {
    background: url('/src/assets/arrow-right.png') center center / 15px 30px no-repeat;
    width: 50px;
    height: 100%;
    border: none;
    z-index: 11;
    opacity: .5;
    right: 19rem;
   color: red;
}

.carousel_prev {
    right: auto;
    left: 19rem;
    transform: rotate(180deg);
    float: left;

}

.carousel_next {
    float: right;
}

.carousel button {
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s;
    text-indent: -3000px;
    outline: none !important;
    zoom: 1;
}

.carousel button:hover {
    opacity: 1;
}

.carousel_container {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
    width: calc(100% - 100px);
}

.carousel_container img {
    align-self: center;
    height: 100%;
    width: 100%;
}

@keyframes carouselIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

.carousel_number {
    color: white;
    position: relative;
    top: 90%;
    width: 80px;
    display: flex;
    justify-content: center;
    left: calc(50% - 40px);
    padding: 5px;
}

@media only screen and (max-width: 1048px) {
    .carousel {
        width: 100%;
        margin-left: -10px;
        height: 220px;

    }

    .carousel_number {
        left: calc(50% - 106px);
    }


}

@media only screen and (max-width: 768px) {
    .carousel {
        margin: 0;
    }

    .description p:nth-child(2) {
        font-size: 14px;
        line-height: 0;
    }


}
