table,
td {
    border: 1px solid #4c8397;
}

thead,
tfoot {
    background-color: #4c8397;
    color: #fff;
}

.arrow-content {
    display: grid;
    padding: 40px;
    margin: 0 auto;
}

th {
    background-color: #4c8397;
    width: 100px;
    height: 50px;
    color: #ebeeef;
    font-size: 20px;
}

td {
    height: 50px;
    background-color: #ebeeef;
    color: #4c8397;
}

td, th {
    cursor: pointer;
    padding: 10px;
    position: relative;
}

td:hover {

    -moz-box-shadow: 0 0 10px #4c8397;
    -webkit-box-shadow: 0 0 10px #4c8397;
    box-shadow: 0 0 10px #4c8397;
}

.pic img {
    width: 300px;
    position: absolute;
    right: 48px;
    margin-top: 60px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 10px #4c8397;
    -webkit-box-shadow: 0 0 10px #4c8397;
    box-shadow: 0 0 10px #4c8397;
}


.text {
    background: #FFF;
    opacity: 0;
    width: 261px;
    height: 282px;
    position: absolute;
    right: 44px;
    margin-top: 60px;
}

.pic:hover .text {
    opacity: 0.6;
    text-align: justify;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
    padding: 30px;
}

.account span {
    display: block;
    text-indent: 101%;

}


.account img{
    top: 8%;
    right: 8%;
    position: absolute;
    border-radius: 100%;
    width: 2.75rem;
    height: 2.75rem;

}
.account img:hover{
  background-color: black;
   /* background: linear-gradient(#4c8397 30%,#61dafb 40%);*/
  /*  transform: translateY(30px) scale(0.5);*/
}
.account div {
    background-color: #a8cad7;
    padding: 10px;
    display: none;
    position: absolute;
    border-radius: 10px;
    right: 40px;
    top: 110px;
    color: #4c8397;
    font-size: 20px;
    font-family: cursive;
}

.account span:hover + div {
    display: block;

}
