.content {

    display: grid;
    width: 100%;
    height: 650px;
    grid-template: [header-left] "head head" 50px [header-right]
                 [main-left]   "nav  main" 1fr  [main-right]
                 / 320px 1fr;

}
.content header {
    grid-area: head;
}
.content header h1 {
    display: flex;
    justify-content: center;
    color: #68340c;
    font-size: 30px;
}

.content nav {
    grid-area: nav;
    margin: 60px;
    font-size: 20px;
    color: black;
    white-space: pre-wrap;

}
 h2 {
    color:#622d05 ;
}
.content main {
    grid-area: main;
    font-size: 20px;
    margin: 60px;

}
.pictures img {
    width: 150px;
    transition: transform .2s;
    height: 150px;
    border-radius: 15px 15px 0 0;
    overflow: hidden;

}
.pictures-content {
    display: flex;
    grid-gap: 20px;
}
.ingredient-list{
    list-style: none;
    margin-left: -33px;
}

.ingredient-list-items {
    padding: 6px;
    font-weight: bold;
    font-size: 23px;
    color: #b27123;

}
.content-arrow{
    margin: -2rem 6rem;
}
.arrow{
    width: 50px;
   margin-top: -9rem;
    margin-right: 20px;
}
.btn{
    width: 100%;
    height: 60px;
    color: white;
    background-color: #ab6d0b;
    cursor: pointer;
    margin: 52px 10px;
    border-radius: 10px;
}

