.page {
    display: grid;
    width: 100%;
    height: 200px;
    grid-template: [header-left] "head head" 150px [header-right]
                 [main-left]   "nav  main"  97rem [main-right]
                 [footer-left] "nav  foot" 20px [footer-right]
                 / 300px 1fr;

}

.page header {
    /* background-color: #edf1f3;*/
    grid-area: head;

}

.page::before {
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: 40px;
    margin-top: 0;
    color: #457f93;
    content: '';
    position: absolute;
    z-index: -2;
    right: 50%;
    top: 0;
    width: 100%;
    max-width: 100rem;
    height: 155px;
    background: #f1f2f5 url("../../assets/headerProfil.png") left top;
    pointer-events: none;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);



}
.page-title h1{
    font-weight: bold;
    font-family: cursive;
    color: #4c8397;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.page nav {
    grid-area: nav;
    padding: 20px;
}

.raison-inscription h2 {

    position: relative;
    margin: auto;
    margin-bottom: 1.875rem;
    padding: 0 0 0.9375rem;
    font-family: 'ActaDisplay';
    font-size: 1.5625rem;
    line-height: 1.6875rem;
    font-weight: 900;
    font-style: italic;
    color: #4c8397;
    text-align: center;


}

.raison-inscription ol {
    counter-reset: section;
    list-style-type: none;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    font-weight: 300;


}

.raison-inscription ol li {
    position: relative;
    margin: 0 0 1.875rem;
    padding: 0 0 0 0.9375rem;
    color: #aba8a8;


}

.raison-inscription ol li::before {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 4.0625rem;
    -ms-flex: 0 0 4.0625rem;
    flex: 0 0 4.0625rem;
    display: inline-block;
    position: absolute;
    left: -2.0625rem;
    top: 0;
    counter-increment: section;
    content: counters(section, ".") " ";
    width: 2.1875rem;
    height: 2.1875rem;
    font-family: 'ActaDisplay';
    font-size: 2.1875rem;
    line-height: 2.3125rem;
    font-weight: 500;
    text-align: right;
    color: #4c8397;
    font-style: italic;

}

.raison-inscription ol li > strong {
    display: block;
    margin: 0 0 -0.6875rem;

}

.raison-inscription {


    -webkit-box-flex: 0;
    -webkit-flex: 0 0 28%;
    -ms-flex: 0 0 28%;
    flex: 0 0 28%;
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
    margin-right: 0.8125rem;
    padding: 1.0625rem 0.625rem 0.9375rem 0.1875rem;
    border: 0.8125rem solid transparent;
    box-shadow: 0.1875rem 0.1875rem 1.875rem 0.0625rem rgb(38 38 62 / 10%);
    border-image: url("../../assets/bordure.png") 13 round;
    background: #fff;

}

.bloc-even {
    margin: 0;
    padding: 0;
}

.page main {

    grid-area: main;
    padding: 20px;
}

.user-login {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.user-login > div {
    width: 100%;


}

.wrapper-right {
    padding-right: 0.9375rem;
    padding-right: 0.9375rem;


}

.creat-account {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.5625rem;
    background: #f5f6f8 url("../../assets/account.png") left top;
    box-shadow: 0 0.625rem 1.875rem rgb(46 46 48 / 10%);
    border: 0.125rem solid #ededed;
    display: flex;

}
.creat-account h2{

    font-family: cursive;
    color: #457f97;
}

.login-register {
    background: #e2e2f1;
    box-shadow: inset 0 0 0 -0.125rem #2e2e30;
    color: #4c8397;
    padding: 0.75rem 1.375rem;
    margin: 0;
    border-radius: 0.1875rem;
    font-family: 'LemonSans';
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    border: none;
    transition: box-shadow .4s cubic-bezier(.25, .46, .45, .94);
    display: inline-block;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border-radius: 0;
    transition: background-color .25s ease-out, color .25s ease-out;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

}

.user-login-form {
    margin-bottom: 2.6875rem;
    padding: 1.5625rem;
    background-color: #fff;
    box-shadow: 0 0.625rem 1.875rem rgb(46 46 48 / 10%);


}

.user-login-form h2 {
    font-size: 1.625rem;
    font-weight: 800;
    line-height: 1.875rem;
    font-family: cursive;
    color: #4c8397;

}
.form-item {
    margin: 0;
    padding: 0;
}

.form-item input {
    display: block;
    width: 97%;
    height: 2.875rem;
    padding: 10px 0.875rem;
    margin: 0;
    background: #fff;
    font-family: 'LemonSans';
    font-size: 1.125rem;
    font-weight: 300;
    color: #7d7d86;
    border: none;
    box-shadow: inset 0 0 0 0.0625rem #ededed;
    transition: box-shadow .25s cubic-bezier(.19,1,.22,1),color .25s cubic-bezier(.19,1,.22,1),background .25s cubic-bezier(.19,1,.22,1);
    border-radius: 0.125rem;
    margin-bottom: 2.6875rem;
    box-shadow: 0 0.625rem 1.875rem rgb(46 46 48 / 10%);



}
.form-item {
    display: block;
    text-align: right;
    color:#4c8397;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
    text-decoration: none;
}
.form-btn {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 2.5rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
}
.edit-submit {
    background: #e2e2f1;
    box-shadow: inset 0 0 0 -0.125rem #2e2e30;
    color: #4c8397;
    padding: 0.75rem .375rem;
    margin: 0;
    border-radius: 0.1875rem;
    font-family: cursive;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    border: none;
    transition: box-shadow .4s cubic-bezier(.25,.46,.45,.94);
    cursor: pointer;
}
.avis-abonnes {
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
    margin-bottom: 3.875rem;
    font-size: .9375rem;
    line-height: 1.0625rem;
    font-weight: 300;
    border: 0.3125rem solid #ededed;
    padding: 1.875rem;
}
.bloc-first {
    margin: 0;
    padding: 0;

}
.bloc-first p {
    margin-bottom: 1rem;
    font-size: inherit;
    line-height: 1.6;


}
 strong {
    font-family: cursive;
    color:#aba8a8;
}
span {
    font-family: cursive;
    color: #4c8397;
}
.avis-abonnes ul {
    max-width: 75rem;
    list-style: none;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.avis-abonnes ul li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 30%;
    -ms-flex: 1 30%;
    flex: 1 30%;
    margin: 0.9375rem 0;
    padding: 0.9375rem 1.875rem;
    border-right: 0.0625rem solid #ededed;
    border-bottom: none;
    color: #7d7d86;
}


.login-register:hover,
.edit-submit:hover {
    background-image: linear-gradient(90deg, #7389b5 0%, #4c8397 49%, #e2e2f1 80%, #546589 100%);
    animation: slidebg 5s linear infinite;
}

.required{
    color: darkred;
    margin: 8px 0 15px 9px;
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

.page footer {

    grid-column: foot;
}
