.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -2rem;
    padding: 5px 20px;
}

.main-nav a {
    font-weight: bold;
    font-size: 23px;
    color:  #622b02;
}
.icon{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    width: 27px;
    margin-right: 10px;
    margin-bottom: -5px;

}
.main-bg {
    background-color: #622b02;
    padding: 1px;
}
.icon-sign {

    width: 5rem;
    margin: 3px 82px;


}
.sign-in-content h1 {
    margin: 0 82px;
    white-space: nowrap;
    color:  #622b02;
    font-weight: bold;

}


.main-nav-item {
    text-decoration: none;
    margin-right: 0.5rem;
}
.sign-in-content {
    box-sizing: border-box;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    background-color: white;
    padding: 2rem;

}
form {
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 2rem;
}
.input-wrapper label {
    font-weight: bold;
    padding: 5px;
    color:  #622b02;
}
.input-wrapper input {
    padding: 5px;
    font-size: 1.2rem;
}
.sign-in-btn {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #b07e49;
    background-color: #eea121;
    color: #fff;
    cursor: pointer;
}
