.header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 14px 20px;
}


.header-nav ul{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    list-style: none;
    grid-gap: 100px;
    margin-left: 5rem;

}
.header-nav ul li a{
   /* background: linear-gradient(to bottom, #eea121, 1.8%, transparent,#eea121);*/
    background-color:#954a12;
    color: white;
    font-weight: bold;
    border-radius: 20px;



}
.header-nav-item a {
    text-decoration: none;
    line-height: 89px;
    color: #282c34;
    padding: 10px;




}
