.section-header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;

}
.section-header > div > input {
    display: block;
    position: center;
    width: 900px;
    height: 30px;
    margin-left: 150px;
  border-radius: 20px;
}
.search img {
    width: 30px;
    margin-left: -41px;
    margin-bottom: -35px;
}
input{
    font-size: 20px;
    padding: 15px;
    color: firebrick;

}
