.collapse {
    width: 100%;
    border-radius: 10px;

}

.collapse > header {
    background-color: #ab6d0b;
    width: 100%;
    height: 53px;
    border-radius: 10px;
    /*margin-left: 20px;*/
}

.collapse > header > a {
    color: white;
    text-decoration: none;
    display: block;
    cursor: pointer;
    padding: 13px 7px 39px;
    font-size: 13px;

}

.collapse > header a > img {
    width: 22px;
    height: 12px;
    float: right;
    padding: 4px 9px;
}

.collapse > div {
    /*border: 1px solid rgba(255, 96, 96, 1);*/
    float: left;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    color: #ab6d0b;

}
.collapse > div >p{
    padding: 5px 5px 10px 10px;
    /*padding-left:0;*/
    display:block;
    list-style: none;
    color: #e69a23;
}
.collapse > div >ul{
    padding: 5px 5px 10px 10px;
    /*padding-left:0;*/
    display:block;
    list-style: none;
}
.collapse > header > a > img {
    transform: rotate(180deg);
}

.collapse.active > header > a > img {
    transform: rotate(0deg);
}
@media only screen and (max-width: 768px){

    .collapse {
        width: 100%;
        border-radius: 10px;
    }
    .collapse > div {
        border-radius: 0;
    }

}
