.receipts {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin: 70px;
}
.receipts-content{
    margin-left: 34px;

}
.receipts-collapse{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.receipts-items{
    display: block;
    width: 230px;
    height: 187px;
    background-color: #e69a23;
    border-radius: 15px;
    overflow: hidden;
    padding: 6px 6px;
    margin: 12px 14px;
    box-shadow: 0.02em 0.02em 1em lightgrey;
}
.receipts-items img {
    height: 150px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    overflow: hidden;


}

.receipts-content h1{
    color: #ab6d0b;
    display: flex;
    justify-content: center;
}
.receipts-content p {
    font-size: 20px;
    display:grid;
    grid-template-columns: repeat(1,1fr);

}
.receipts-content ul  {
    padding: 5px 5px 10px 10px;
    /*padding-left:0;*/

    list-style: none
}
.receipts-content ul h2 {
    color: darkgray;
}
.receipts-content ul li {
    font-size: 20px;
    font-weight: bold;
    color: #e69a23;
    line-height: 1.9;
}
.title{
    color: firebrick;
    font-size: 20px;
    margin: 12px 0;
    white-space: nowrap;

}

